html,
body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-center;
    flex-direction: column;
}

#message,
#notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#notes>h1 {
    text-decoration: underline;
    margin: 5px;
}

#notes>h3 {
    margin: 5px;
}

#notes>p {
    margin: 5px;
}

#controls {
    margin: 10px;
}

#controls button {
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px #ccc solid;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

#controls button:hover {
    background-color: rgb(204, 204, 204);
}

#message {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

#message p{
    margin: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

.board div {
    color: green;
    font-size: 2rem;
    width: 75px;
    height: 75px;
    border: 1px #ccc dotted;
    border-radius: 10%;
    background-color: white;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board div:hover {
    background-color: white;
}

div.mine,
div.mine:hover {
    background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
    background: #eee;
}

div.hidden:hover {
    background: #ccc;
}

div.marked,
div.marked:hover {
    background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}